.gpt3__cta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  margin: 4rem;
  border-radius: 1rem;
  background: var(--gradient-bar);

  .gpt3__cta-content {
    p {
    }
    h3 {
    }
  }
  .gpt3__cta-button {
    button {
    }
  }
}

/**
 * ----------------------------------------
 * Responsive
 * ----------------------------------------
 */
 .gpt3__cta {
  .gpt3__cta-content {
    p {
    }
    h3 {
    }
  }
  .gpt3__cta-button {
    button {
    }
  }
}